Vec3 :: struktur {
    x, y, z : u64;
}

Wert :: union {
    a : char;
    b : Vec3;
    x : u32;
    y : s64;
    z : bool;
}

A := 50;

master :: proc() -> u64 {
    a : Wert;
    b : u32 = 0;

    a.b.y = 30;

    iter 1..16 {
        wenn it > 10 {
            weg;
        }

        b += 1;
    }

    res (a.b.y + b) / 5 + test();
}

test :: proc() -> s32 {
    res A;
}

