Richtung :: enum {
    West;
    Ost;
    Nord;
    Süd;
}

master :: proc() -> s32 {
    a := Richtung.Süd;

    zweig a {
        Richtung.West: {
            res 1;
        },

        Richtung.Süd: {
            res 10;
        }
    }

    res 25;
}

