#import Sys = (*) from sys;

#load "W:/sss/data/zeugs.sss";

master :: proc(args: [] string) {
    jedes 0..args.size {
        Sys.ausgabe(args[it]);
    }

    falls wahr Sys.ausgabe("wahrhaftig");

    jedes args Sys.ausgabe(it);
}

master({ "hallo✨\n", "was✨\n", "machst✨\n", "du\n" });

