#import Sys = (*) from sys;

a :: proc() -> u32 {
    res b(5);
}

b :: proc(x: u32) -> u32 {
    falls x < X {
        res X;
    }
    res x;
}

master :: proc(args: [] string) {
}

X :: const 56;

c := a();

falls c == 56 Sys.ausgabe("x ist 56");
