#import Sys = (print) from sys;

Vec3 :: struct {
    x, y, z : s32;
}

a : s32 = 5 + 3;
b := a + 1;
c := false;
d : s32 = 0;

match cast(u32)a {
    1..7 => a += 1;
       8 => a += 2;
}

while a < b {
    a += 1;
}

if a < b {
    b = 10;
}

hallo :: proc(x: s32) -> s32 {
    result := x + 10;

    return result, 7.5;
}

a = hallo(15);

for 1..2 {
    d = d + it;
} else {
    d = 100;
}

e := d;
