a : s32 = 5 + 3;
b := a + 1;

falls a == b {
    b = 10;
} sonst falls a > b {
    b = 5;
} sonst {
    b = 0;
}
##(
Vec3 :: struct {
    x, y, z : s32;
}

c := falsch;
d : s32 = 0;

zweig cast(u32)a {
    1..7 => a += 1;
       8 => a += 2;
}

solange a < b {
    a += 1;
}

jedes 1..2 {
    b = b + it;
} sonst {
    b = 100;
}

hallo :: proc(x: s32) -> s32 {
    result := x + 10;

    res result, 7.5;
}

e := hallo(15);
f := d;
##)
