#import Win32 = (*) from win32;

#export {
    print
}

print :: proc(fmt: string, args: ...) {
    using Win32;

    handle := get_std_handle(cast(u32)Device_Type.STD_OUTPUT_HANDLE);
    chars_written : *u32;
    write_console(handle, cast(* void)fmt, 10, chars_written, 0);
}

