#export {
    WriteConsole
}

WriteConsole :: proc(hConsoleOutput         : *void,
                     lpBuffer               : *void,
                     nNumberOfCharsToWrite  : u32,
                     lpNumberOfCharsWritten : *u32,
                     lpReserved             : *void) #sys_call;

